@import "playfair.css";
@import "roboto.css";
@import "merriweather.css";


.contain {
  object-fit: contain;
}

.uk-button-text {
  border-bottom: 1px solid #333;
}

.uk-button-text::before {
  border-bottom: 1px solid mediumblue;
}

.footer-section h5 {
  margin-bottom: 5px;
  margin-top: 20px;
}


.uk-link,
a {
  color: #0077aa;
}

.uk-lightbox {
  background: rgba(0, 0, 0, 0.7);
  /*As there isn't firefox support for this I won't use it*/
  /*backdrop-filter: blur(8px);*/
}

.uk-lightbox-toolbar {
  background: rgba(0, 0, 0, 0);
}

.imagemargin {
  margin-bottom: 40px;
}

figcaption p {
  font-size: 0.8em;
  color: grey;
}

em {
  color: unset;
}


img.experience{
  width: 150px;
  height: 180px;
}



@media (prefers-color-scheme: light) {
  body {
    color: #4d4d4d;
    background-color: #ffffff
  }

  .footer {
    flex-shrink: 0;
    background: #fafafa;
    border-top: 1px solid #eaeaea;
    padding-top: 5em;
  }

  figure img{
    border: solid thin black;
    padding: 10px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ffffff;
    background-color: #1c1c1c
  }


  .uk-navbar-container:not(.uk-navbar-transparent) {
    background:#222222;
  }

  .footer {
    flex-shrink: 0;
    background: #222222;
    border-top: 1px solid #eaeaea;
    padding-top: 5em;
  }

  figure img{
    border: solid thin white;
    padding: 10px;
  }

  .uk-card {
    background-color: #1f1f1f;
  }

  .uk-card-default .uk-card-title {
    color: #ddd;
  }

  .uk-card-default {
    color: #bbb;
  }
}